*, ::after, ::before {
    box-sizing: border-box;
}

.navbar {
    padding: 5px;
    margin: 0px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
    display: flex;
    width: 100%;
    background-color: lightblue;
}

body {
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(204, 204, 204, 0.726);
    background: url('../Images/BlueNile.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; 
}

#container{
    padding-top: 0px, 20px;
    margin: 0;
}

.Me {
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 0px;
    background-color: white;
    max-width: 1000px;
    background-color: #F5DEB3;
}

h1 {
    /* background-color: lightseagreen; */
    font-family: serif;
    color: black;
    font-size: 28px;
    padding: 10px 0;
    margin: 0;
    margin-bottom:20px;
    margin-top: 20px;
    margin-left: 5%;
    width: 20%;
}

h2 {
    color: lightseagreen;
    font-family: serif;
    padding: 0px;
    margin: 0;
    font-size: 40px;
}

img {
    float: left;
    margin: 10px;
}

.col-md-6 {
    float: left;
}

p, p {
margin-top:0;
}

footer {
    background-color: #333;
    color: #efeee7;
     position: relative; 
     height: 4.22rem; 
     padding:0 30px; 
     bottom: 0;
      width: 100%; 
      /* border-top: 5px green solid; */
    }
    footer p{
        text-align: center;
        padding-top:20px ;
        padding-bottom:20px;
        color: white;
        font-size: 20px;
    }

@media screen and (min-width:425px) and (max-width:1023px) {
    .Me {
        width: 80%;
        display: block;
    }
}
