*, ::after, ::before {
    box-sizing: border-box;
}

.bg-dark {
    background-color: #343a40!important;

}

.navbar {
   padding: 5px;
    margin: 0px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
    display: flex;
    width: 100%;
    background-color: lightblue;
}

body {
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(204, 204, 204, 0.726);
    background: url('../Images/BlueNile.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; 
    
} 

img {
    padding: .25rem;
    margin: 10px auto;
    background-color:bg-light;
    max-width: 100%;
    height: 350px;
    vertical-align: middle;
    border-style: none;
}

.my-port {
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    max-width: 800px;
}

h1 {
    /* background-color: lightseagreen; */
    font-family: serif;
    color: black;
    font-size: 28px;
    padding: 10px 0;
    margin: 0px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left: 5%;
    width: 20%;
}

h2 {
    color: lightseagreen;
    font-family: serif;
    padding: 10px;
    font-size: 40px;
}

footer {
    background-color: #333;
    color: #efeee7;
     position: relative; 
     height: 4.22rem; 
     padding:0 30px;
     bottom: 0;
      width: 100%; 
    }
    
    footer p{
        text-align: center;
        padding-bottom:20px;
        color: white;
        font-size: 20px;
    }

@media screen and (min-width:425px) {
    .my-port {
        width: 100%;
        position: static;
        display: block;
    }
}
